
    <!-- Main content -->
    <section class="content">
        <div style="width: 360px; margin: 10% auto; text-align: center; ">
            <h2>Welcome to {{get_store.Title}}</h2>
            <br>
            <p>
                In marketing, promotion refers to any type of marketing communication used to inform or persuade target audiences of the relative merits of a product, service, brand or issue. The aim of promotion is to increase awareness, create interest, generate sales or create brand loyalty.
            <p>
        </div>
    </section>